window {
    margin: 0px;
    border: 2px solid #00ff41;
    background-color: rgba(10, 10, 10, 0.95);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 11px;
    border-radius: 10px;
}

#input {
    margin: 8px;
    border: 1px solid #00ff41;
    color: #00ff41;
    background-color: #001100;
    padding: 6px;
    border-radius: 6px;
    font-weight: bold;
}

#inner-box {
    margin: 6px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 6px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 4px;
    border: none;
    color: #00ff41;
    font-weight: 500;
}

#entry {
    margin: 1px 0px;
    border-radius: 6px;
    padding: 3px;
}

#entry:selected {
    background-color: #00ff41;
}

#entry:selected #text {
    color: #0a0a0a;
    font-weight: 800;
}

#text:selected {
    color: #0a0a0a;
    font-weight: 800;
}
